/* hide really ugly schemas section */
html > body > div#swagger-ui > section.swagger-ui.swagger-container > div.swagger-ui > div > div.wrapper:last-child {
	display: none;
}

/* white method names (looks better) */
.opblock-summary-method {
	color: #fff !important;
}

/* colors from main site (see https://github.com/Faithful-Resource-Pack/Website/blob/main/app/assets/css/variables.scss) */
a {
	color: #4EA229;
	text-decoration: none;
	transition: all 0.1s ease;
}

a:hover {
	color: #76C945;
}

/**
 * Note: Many of these styles are based on the vitepress/faithful docs styling
 */

/* sticky header */
.topbar {
	top: 0;
	position: sticky;
	z-index: 999;
}

/* put the theme switch on the right instead of weirdly in the middle */
.topbar-wrapper {
	flex-flow: row nowrap !important;
	align-items: center !important;
	justify-content: space-between !important;
}

/* remove hideous swagger logo */
.topbar-wrapper > :first-child,
.topbar-wrapper > :first-child * {
	width: 0px;
	height: 0px;
}

/* and replace it with faithful */
.topbar-wrapper > :first-child::after {
	content: "Faithful API";
	font-size: 16px;
}


/* add faithful logo to navbar */
.topbar-wrapper > :first-child::before {
	display: block;
	content: "";
	background: center no-repeat url("https://database.faithfulpack.net/images/branding/logos/transparent/original/main_logo.png");
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	margin-right: 8px;
}

/* move margin from info to information-container (works better when image is added) */
.info {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.information-container {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
	overflow: hidden !important;
}

/* bigger title/description */
.info .title {
	font-size: 56px !important;
}
.info .description p {
	font-size: 24px !important;
	opacity: 0.6;
}

/* set up container to put text on left and image on right */
.information-container > section > div {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	overflow: visible;
}

/* create image */
.information-container > section > div::after {
	display: block;
	content: "";
	background: center no-repeat url("https://database.faithfulpack.net/images/branding/logos/transparent/hd/main_logo.png");
	width: 320px;
	height: 320px;
	background-size: 320px 320px;
	padding-left: 300px !important;
	padding-right: 300px !important;
}

@media screen and (max-width: 960px) {
	/* text overflow looks nicer this way */
	.information-container {
		max-width: 80vw !important;
	}

	/* reverse so image ends up on top */
	.information-container > section > div {
		flex-flow: column-reverse nowrap;
		justify-content: center;
		text-align: center !important;
	}

	/* smaller image/text and remove padding */
	.information-container > section > div::after {
		width: 240px;
		height: 240px;
		background-size: 240px 240px;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.info .title {
		font-size: 48px !important;
	}

	.info .description p {
		font-size: 20px !important;
	}

	/* remove tags (wrapping starts getting weird) */
	.info .title > span {
		display: none !important;
	}
}

/* make everything smaller again */
@media screen and (max-width: 640px) {
	.info .title {
		font-size: 32px !important;
	}

	.info .description p {
		font-size: 18px !important;
	}

	.information-container > section > div::after {
		width: 160px;
		height: 160px;
		background-size: 160px 160px;
	}
}
