/*
 * hide hideous swagger topbar menu
 * todo: find a better way to do this (this deletes the theme selector lol)
 */
.swagger-ui .topbar {
	padding: 0px !important;
	height: 0px;
	visibility: hidden;
	background-color: transparent !important;
}

/* hide really ugly schemas section */
html > body > div#swagger-ui > section.swagger-ui.swagger-container > div.swagger-ui > div > div.wrapper:last-child {
	display: none;
}

/* white method names (looks better) */
.opblock-summary-method {
	color: #fff !important;
}

/* colors from main site (see https://github.com/Faithful-Resource-Pack/Website/blob/main/app/assets/css/variables.scss) */
a {
	color: #4EA229;
	text-decoration: none;
	transition: all 0.1s ease;
}

a:hover {
	color: #76C945;
}
